body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

#start-panel {
  margin: 1em auto 0 auto;
  width: 20em;
}

#cells-in {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
}

#template-in {
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

#start {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

#life-panel {
  display: none;
  margin: 1em auto 0 auto;
  width: 400px;
}

#grid {
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px #aaa;
  width: 400px;
  height: 400px;
}
