body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

#start-panel {
  margin: 1em auto 0 auto;
  width: 22em;
}

#cells-in {
  height: 11em !important;
  overflow: auto !important;
}

#life-panel {
  display: none;
  margin: 1em auto 0 auto;
  width: 400px;
}

#grid {
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px #aaa;
}
